main {
  background-color: white;
}
li {
  font-size: 1.2rem;
}
p {
  text-align: left;
}
img {
  width: 100%;
}
.headingText {
  font-size: 1.6rem;
}
.bodyText {
  font-size: 1.4rem;
}
.jumbotron {
  margin: 0;
}

.googleCal {
  width: 100%;
}
.link {
  color: black;
}
link:hover {
  color: rgba(255, 223, 40, 1);
}

.bg-grey{
  background-color: #666666
}
